<%- include('./partials/header.ejs')%>
    
    <main>
        <h3>About Adams Youth Basketball</h3>
        <p class="home"><br>Adams Youth Basketball is a program that allows kids to show off their basketball skills and also learn some new ones. Parents and Coaches can create connections 
        to set up events for the childeren to meet up and practice.</p>

        <p><br>Check out the Connections Section to see avalible conections!</p>


    </main>
    
<%- include('./partials/footer.ejs')%>
