<%- include('./partials/header.ejs')%>
    
    <main>
        <h3>Contact US</h3>
        <p class="home"><br>Address - 1000 E Morehead St, Charlotte, NC 28204</p>

        <p><br>Phone - 704-123-4567</p>


    </main>
    
<%- include('./partials/footer.ejs')%>
