<%- include('./partials/header.ejs')%>
    
    <main>
        <h3>Adams Youth Basketball</h3>
        <p class="home"><br>Parents can create and attend events with their childern to help their child learn more about basketball. We also host games for childern to show off the skills 
        they learned from the practices.</p>

        <p><br>Check out the Connections Section to see avalible conections!</p>


    </main>
    
<%- include('./partials/footer.ejs')%>
